.Rproj.user
.Rhistory
.RData
.Ruserdata
.Renviron
## R / RStudio
.Rproj.user/
.Rhistory
.RData
.Ruserdata
.Renviron
*.Rproj

# Application artifacts and local configs
chat.Rds
chatOLD.Rds
rsconnect/
dockercommands/
DoNotCommit/
README.html